<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true">
    <!-- 该xml文件必需放在java源文件路径下，否则编译后将出现无法找到该配置文件的错误 -->
    <!-- 输出log文件的地址 -->
    <Properties>
        <Property name="filename">E:\java\spring\BookAdministration\log4j2\log4j2.log</Property>
        <Property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Appender name="console" type="Console">
            <Layout type="PatternLayout" pattern="${pattern}"/>
            <Filters>
                <Filter type="ThresholdFilter" level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Appender>
        <Appender name="file" type="RandomAccessFile" fileName="${filename}">
            <Layout type="PatternLayout" pattern="${pattern}"/>
            <Filters>
                <Filter type="ThresholdFilter" level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Appender>
    </Appenders>

    <!-- 全局配置，默认所有的Logger都继承此配置 -->
    <Loggers>
        <Logger name="com.example.dao" level="debug">
            <AppenderRef ref="file"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>